@{
	ViewData["Title"] = "Hells";
}

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Сеть магазинов мебели "Hells-Shop"</h1>
					<p class="mb-4">Мы напрямую работаем с проверенными мебельными фабриками и делаем недорогую мебель на собственном производстве, поэтому наши цены по-настоящему низкие.
						В нашем каталоге каждый сможет найти мебель по вкусу и купить ее по низкой цене. Онлайн магазин позволяет быстро совершить заказ и оформить доставку из любой точки России.</p>
					<p><a asp-controller="HShopProducts" asp-action="Index" class="btn btn-secondary me-2">Каталог</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="images/couch.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">Почему стоит выбрать именно нас?</h2>
				<p>Представим несколько аспектов, по котором выбирают именно нас: </p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Быстрая и бесплатная доставка</h3>
							<p>Осуществляется нашей курьерской доставкой по всей Москве и области.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Легко оформить заказ</h3>
							<p>В пару кликов можно оформить заказ через сайт.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Поддержка работает 24/7</h3>
							<p>Поддержка работает и помогает в оформление заказов не только через сайт, но и через телефон.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Бесплатный возврат</h3>
							<p>Если товар вам не понравился, то его можно вернуть в течении 7 дней после покупки. Курьер сам приедет и заберёт товар.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start We Help Section -->
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Мы поможем сделать твой дизайн уникальным</h2>
				<p>
					Почему очень многие покупают у нас?
				</p>

				<ul class="list-unstyled custom-list my-4">
					<li>
						Во-первых,
						мы - ПЕРВЫЕ!
					</li>
					<li>Во-вторых, мы - федеральная сеть</li>
					<li>В-третьих, мы продаем по цене производителя</li>
					<li>Наконец, мы отвечаем за качество</li>
				</ul>
				<p><a  asp-controller="HShopProducts" asp-action="Index" class="btn">Каталог</a></p>
			</div>
		</div>
	</div>
</div>
<!-- End We Help Section -->


	