

<meta charset="utf-8">

@if(ViewBag.Title !=null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>Hells_Company</title>
}

@if (ViewBag.viewport != null)
{
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
}
@if (ViewBag.author != null)
{
    <meta name="author" content="Hells.co">
}
@if (ViewBag.description != null)
{
    <meta name="description" content="" />
}
@if (ViewBag.keywords != null)
{
    <meta name="keywords" content="bootstrap, bootstrap4" />
}



